<!DOCTYPE html>
<html>
	<head>
		<title>NCMEC Global Search</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!-- JQUERY  //////////////////////////////////////////////////////// -->
		<script type="text/javascript" src="lib/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
<!-- ANGULAR  //////////////////////////////////////////////////////// -->
		<script type="text/javascript" src="lib/angular-1.3.9/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular-1.3.9/angular-animate.min.js"></script>
		<script type="text/javascript" src="lib/angular-1.3.9/angular-route.min.js"></script>
		<script type="text/javascript" src="lib/angular-ui-router/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="lib/ng-file-upload.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="lib/ng-file-upload-shim.min.js" type="text/javascript"></script>   

<!-- BOOTSTRAP  //////////////////////////////////////////////////////// -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/ui-bootstrap-custom-0.14.3.min.js"></script>
		<script type="text/javascript" src="lib/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
		<!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>-->
		<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">>-->

		<!-- KENDOUI///////////////////////////////////////////////////////////////////////////////////-->
		
<!-- 		<script src="lib/kendoui/js/jszip.min.js"></script>
		<link href="lib/kendoui/examples/content/shared/styles/examples-offline.css" rel="stylesheet">
		<link href="lib/kendoui/styles/kendo.common.min.css" rel="stylesheet">
		<link href="lib/kendoui/styles/kendo.silver.min.css" rel="stylesheet">
		<link href="lib/kendoui/styles/kendo.dataviz.min.css" rel="stylesheet">
		<link href="lib/kendoui/styles/kendo.dataviz.silver.min.css" rel="stylesheet">
		<script src="http://cdn.kendostatic.com/2014.3.1411/js/kendo.all.min.js"></script> -->

<!-- STYLES  //////////////////////////////////////////////////////// -->      
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="assets/css/RFI-styles.css"/>
<!-- FONTS /////////////////////////////////////////////////////////////////////////// -->
		<script src="assets/fonts/amaranth.js"></script>

<!-- CUSTOM UI-BOOTSTRAP /////////////////////////////////////////////////////////////////////////// -->
		<script id="template/alert/alert.html" type="text/ng-template">
			<div class='alert' ng-class='type && "alert-" + type'>
				<button ng-show='closeable' type='button' class='close' ng-click='close()'>Close</button>
				<div ng-transclude></div>
			</div>
		</script>

		<script id="template/pagination/pagination.html" type="text/ng-template">
			<ul class="pagination">
				<li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first">
					<a href ng-click"selectPage(1, $event)">{{getText('first')}}</a>
				</li>
				<li ng-if="directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev">
					/*<a href ng-click="selectPage(page - 1, $event)">{{getText('previous')}}</a>*/
					<a href ng-click="selectPage(page - 1, $event)">Ludwig</a>
				</li>
				<li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page">
					<a href ng-click="selectPage(page.number, $event)">{{page.text}}</a>
				</li>
				<li ng-if="directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next">
					<a href ng-click="selectPage(page + 1, $event)">{{getText('next')}}</a>
				</li>
				<li ng-if="boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last">
					<a href ng-click="selectPage(totalPages, $event)">{{getText('last')}}</a>
				</li>
			</ul>
		</script>
	</head>
	<body ng-app="RFIapp" ng-controller="MainCtrl" ng-init="onInit()">
<!-- HTML  //////////////////////////////////////////////////////// --> 
		<div id="wrapper" class="clearfix" >
			
			<div id="masthead" class="clearfix" style="display:block;position:relative">
				<div id="MK-logo" class="clearfix"></div>

			<!-- 	<div class="title show-hide" ng-show="stateName == 'mainSearch' || stateName == 'login' ">NCMEC Global Search</div> -->
				<!-- <div ng-if="stateName == 'mainSearch' || stateName == 'login' " style="text-align:center"> -->
					<div id="NGS-logo" class="clearfix NGS-logo-large" style="display:inline-block;left:-70px;position:relative;top:40px"></div>
				<!-- </div> -->

				<div id="utilsNav" style="width:100%; height:25px; text-align:right; top:10px;position:relative;display:block" class="clearfix">
					<span class="help-btn tabPos2-btn show-hide" ng-show="stateName != 'login'" style="  padding: 10px 20px 0px 0px">
						<a href=""  ng-click="help()" class="" data-toggle="modal" data-target="#myModal" >NGS Search Help</a>
					</span>
					<span class="logout-btn tabPos2-btn show-hide" ng-show="stateName != 'login'" style=" padding: 10px 10px 0px 0px">
						<a href=""  ng-click="logout()" class="" >Logout</a>
					</span>
				</div>

				<search-ncmec  ng-show="stateName == 'searchResult'" ></search-ncmec>
				
			</div>
			<div ui-view="" class="fader-animation" style="position:relative; top:-20px"></div>
		</div>

		<!-- MODALS //////////////////////////////////////////////////////////////// -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<span class="panel-header"><span class="white-title">Query Term Separators</span></span>
					<div class="modal-body">
						<div style="padding-bottom:20px">
							<label ><strong>Double quote mark (" "):</strong></label> <span>Used as a special query term for phrase searches, i.e  "National Center for Missing and Exploited Children" </span>
						</div>
						<div style="padding-bottom:10px">
							<label><strong>Plus sign (+):</strong> </label>  <span>Treated as a Boolean AND, i.e "National Center for Missing and Exploited Children" AND MCD</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" style="margin-right:20px" class="btn-primary" data-dismiss="modal"> CLOSE </button>
					</div>
				</div>
			</div>
		</div>

		<!-- ALERT BOX-->
		<div id="dialog" title="Please follow this link:">
	
			<a ng-href='{{link}}' target="_blank">{{link}}</a>
		</div>

<!-- 		 <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	  <button class='btn' ng-click="addAlert()">Add Alert</button> -->

<!-- CONTROLER  //////////////////////////////////////////////////////// --> 
		<script type="text/javascript" src="app.js"></script>         
		<script type="text/javascript" src="assets/js/mainCtrl.js"></script>
		<script type="text/javascript" src="assets/js/loginCtrl.js"></script>
		<script type="text/javascript" src="assets/js/services.js"></script>
		<script type="text/javascript" src="assets/js/utilities.js"></script>
		<script type="text/javascript" src="assets/js/formatting.js"></script>
		<script type="text/javascript" src="assets/js/config.js"></script>
		<script type="text/javascript" src="assets/js/filters.js"></script>
		<script type="text/javascript" src="assets/js/caseDisplayCtrl.js"></script>
	</body>
</html>
