<section class="case" ng-repeat="case in casesList track by $index">
		<div class="pers-sep" ng-show="$index >0"></div>
		<div class="sub-title">Case</div>
		 <!-- NAMES ///////////////////////////////////////////////////////////////////////// -->
		<div class="row ">
			<div class="col-sm-4 form-group" ng-show="case.casetype">
				<label>Case Type: </label> <span>{{case.casetype}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.casestatus">
				<label>Case Status: </label> <span>{{case.casestatus}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.casenumber">
				<label>Case #: </label> <span>{{case.casenumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.confidential">
				<label>Confidential: </label> <span>{{case.confidential}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.request_type">
				<label>Request Type: </label> <span>{{case.request_type}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.intakecasetype">
				<label>Intake Case Type: </label> <span>{{case.intakecasetype}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.casemgrdomestic">
				<label>Case Manager: </label> <span>{{case.casemgrdomestic}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.datecaseassigned">
				<label>Date Assigned: </label> <span>{{case.datecaseassigned}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.lastmodified">
				<label>Last Modified: </label> <span>{{case.lastmodified}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.ncmecdivsion">
				<label>NCMEC Division: </label> <span>{{case.ncmecdivsion}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="case.totalnumberchildren">
				<label>Total Number of Children: </label> <span>{{case.totalnumberchildren}}</span>
			</div>
			<div class="col-sm-12 form-group" ng-show="case.postersummary1">
				<label>Poster Summary: </label> <span>{{case.postersummary1}}</span>
			</div>
		</div>
	</section>