<!-- <div ng-controller="CaseDisplayCtrl"> -->
<div class="form-group"  style="padding: 0 5px 0 0px">
	<span style="font-size:1.2em; font-weight: 600; color:#1d57a0">1001766 ESP Test Report</span>
</div>
<div class="caseMenu clearfix" style="padding:0 20px 10px 0px">
	<ul>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem caseMenu-sel">Children</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">Guardians</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">CSAW</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">LEAs</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">Cases</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">Vehicles</a></li>
		<li>|</li>
		<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">Links</a></li>
	</ul>
</div>
<!-- <div class="h-sep" style="margin: 0px 10px 10px 45px; width: 90%" ></div> -->

<div class="sectionWrapper">
	<children-dir class="show-hide"></children-dir>


<!--  	<div  ui-view=""></div>       -->  

</div>
<!-- </div> -->