<div class="form-group"  style="padding: 0 5px 15px 0px">
	<span class="tabPos2-btn detachCase-btn" style="display: inline-block; float: right"><a ng-href='{{caseLink}}' target="_blank">Detach this Case</a></span>

	<span class="tabPos2-btn previousRep-btn" style="display: inline-block; float: left">
		<a  href="" ng-click="goToPreviousRep()" >Previous report</a>
	</span>
	<span  style="font-size:0.9em; color:#758098; display: inline-block; float: left; padding:1px 1px 0 10px"> | </span>
	<span class="tabPos2-btn nextRep-btn" style="display: inline-block; float: left; width:150px">
		<a  href="" ng-click="goToNextRep()" style=" margin-left:10px">Next report</a>
	</span>
</div>
<div class="form-group"  style="padding: 0 5px 0 0px">
	<!-- <span  style="display: inline-block; float: right" class="tabPos2-btn detachCase-btn"><a ng-href='{{caseLink}}' target="_blank">Detach this Case</a></span> -->
	<!-- <span style="font-size:1.2em; font-weight: 600; color:#1d57a0; float: left">{{caseTitle  | rawHtml}}</span> -->
	<!-- <span style="font-size:1.2em; font-weight: 600; color:#1d57a0; float: left" ng-bind-html="caseTitle | rawHtml"></span> -->
	<span style="font-size:1.1em; font-weight: 600; color:#1d57a0; float: left" >{{header}}</span>
</div>
<div class="caseMenu clearfix" style="padding:20px 20px 5px 0px; float: left; width:100%">
	<ul> 
		<div ng-if="$index > 0" ng-repeat="label in tabsLabels track by $index" id="{{$index}}">
			<li><a href="" ng-click="selectSection($event)" class="caseMenuItem">{{label}}</a></li>
			<li>|</li>
		</div>
	</ul>
</div>
<div class="sectionWrapper" style="float: left; width:100%">
	<children-dir class="show-hide" ng-show="children"></children-dir>
	<guardian-dir class="show-hide" ng-show="guardians"></guardian-dir>
	<csaw-dir class="show-hide" ng-show="csaws"></csaw-dir>
	<lea-dir class="show-hide" ng-show="leas"></lea-dir>
	<case-dir class="show-hide" ng-show="cases"></case-dir>
	<vehicle-dir class="show-hide" ng-show="vehicles"></vehicle-dir>
	<links-dir class="show-hide" ng-show="clinks"></links-dir>
</div>

