<div class="sub-title" ng-show="CSAWList.length == 0">No CSAW found in this report</div> 
<section class="vehicles" ng-repeat="item in CSAWList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">CSAW {{$index + 1}}</div>
	<div class="row ">
		<div  ng-repeat="sectionData in CSAWList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span> 
			</div>
		</div>
	</div>
</section> 