
<!-- REGULAR FIELD TEMPLATE ################################## -->
<section   ng-if="!photoDisplay" ng-repeat="item in fieldList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">{{sectionTitle}}<span ng-show="displayIndex"> {{$index + 1}}</span> </div>
	<div class="row"  >
		<div ng-repeat="sectionData in fieldList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span> 
			</div>
		</div>
	</div>
</section> 
<!-- PHOTO TEMPLATE  ################################## -->
<section ng-if="photoDisplay" ng-repeat="item in fieldList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">{{sectionTitle}}<span ng-show="displayIndex"> {{$index + 1}}</span> </div>
	<div class="row">
		<div style="padding-left: 15px; float: left">
			<img ng-src="http://hqdev1.ncmecad.net:8080/{{imagePath}}" alt="Photo" />
		</div>
		
		<div ng-repeat="sectionData in fieldList[$index] track by $index" ng-if="$index !== 1">
			
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span> 
			</div>
		</div>
	</div>
</section> 