<div class="sub-title" ng-show="leasList.length == 0">No LEA found in this report</div> 
<section class="leas" ng-repeat="leas in leasList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">LEA {{$index + 1}}</div>
	<div class="row ">
		<div  ng-repeat="sectionData in leasList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span> 
			</div>
		</div>
	</div>
</section> 