<section class="lea" ng-repeat="lea in leasList track by $index">
		<div class="pers-sep" ng-show="$index >0"></div>
		<div class="sub-title">LEA {{$index + 1}}</div>
		 <!-- NAMES ///////////////////////////////////////////////////////////////////////// -->
		<div class="row ">
			<div class="col-sm-12 form-group" ng-show="lea.department">
				<label>Department: </label> <span>{{lea.department}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.unit">
				<label>Unit: </label> <span>{{lea.unit}}</span>
			</div>
		</div>
		<div class="row ">
			<div class="col-sm-4 form-group" ng-show="lea.orinumber">
				<label>ORI #: </label> <span>{{lea.orinumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.ocanumber">
				<label>OCA #: </label> <span>{{lea.ocanumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.leacasenumber">
				<label>LEA Case #: </label> <span>{{lea.leacasenumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.leaid">
				<label>LEA ID: </label> <span>{{lea.leaid}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.rowstatusid">
				<label>Row Status ID: </label> <span>{{lea.rowstatusid}}</span>
			</div>
		</div>
		<div class="sub-title">LEA {{$index + 1}} Address</div>
		<div class="row ">
			<!-- ADDRESS ///////////////////////////////////////////////////////////////////////// -->
			<div class="col-sm-4 form-group" ng-show="lea.address">
				<label>Address: </label> <span>{{lea.address}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.city">
				<label>City: </label> <span>{{lea.city}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.zip">
				<label>Zip: </label> <span>{{lea.zip}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.county">
				<label>County: </label> <span>{{lea.county}} inch</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.state">
				<label>State: </label> <span>{{lea.state}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.country">
				<label>Country: </label> <span>{{lea.country}}</span>
			</div>
		</div>
		<div class="sub-title">LEA {{$index + 1}} Assigned Officer</div>
		<div class="row ">
		<!-- ASSIGNED OFFICER ///////////////////////////////////////////////////////////////////////// -->
			<div class="col-sm-12 form-group" ng-show="lea.assignedofficer">
				<label>Assigned Officer: </label> <span>{{lea.assignedofficer}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.workphone">
				<label>Work Phone: </label> <span>{{lea.workphone}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.workphone2">
				<label>Work Phone2 </label> <span>{{lea.workphone2}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.cellphone">
				<label>Cell Phone: </label> <span>{{lea.cellphone}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.faxnumber">
				<label>Fax: </label> <span>{{lea.faxnumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="lea.emailaddress">
				<label>Email: </label> <span>{{lea.emailaddress}}</span>
			</div>
		
		  <!-- NOTES
	   ///////////////////////////////////////////////////////////////////////// -->
		
			<div class="col-sm-12 form-group" ng-show="lea.notes1">
				<label>Notes: </label> <span>{{lea.notes1}}</span>
			</div>
		</div>
	</section>