<div class="sub-title" ng-show="narrativeList.length == 0">No Narrative found in this report</div> 
<section class="narrative" ng-repeat="narrative in narrativeList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">Narrative {{$index + 1}}</div>
	<div class="row ">
		<div  ng-repeat="sectionData in narrativeList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span>
				
			</div>
		</div>
	</div>
</section> 