<div  class="content-wrapper" context-path="${cp}">

<!-- SEARCH RESULT  //////////////////////////////////////////////////////// -->
	<div class="tabHead">
		<span class="tab-title">MCD Google Search Result</span>
		<span style="float:right; color:white; font-family:arial; font-size: 0.9em; padding: 3px 10px 0 0;" ng-show="totalReports !== 0">Number of Reports: {{totalReports}}</span>
	</div>
	<div class="tabWrapper" style="opacity: 1; display:inline-block; background-color:white">
		<div  class="clearfix">

			<div style="font-size:1.3em; text-align:center; color:#1d57a0; padding:10px" ng-show="totalReports == 0">Your search didn't return any result!</div>

			<!-- SEARCH RESULT LIST ///////////////////////////////////////////////////-->
			<ul style="list-style-type: none" class="searchResultList" id="resultList">
				<li ng-repeat="result in results track by $index" style="padding: 10px 0 15px 0"  >
					<div >
						<!-- REAL LINK 
						<a ng-href="{{result.u}}"><p ng-bind-html="result.t | rawHtml" style="font-size:1.1em; color:#1d57a0"></p></a> -->

						<!-- FOR DEVELOPMENT -->
						<a ng-click="getCase(result.attributes.id, result.attributes.collection)" href=""><p ng-bind-html="result.title | rawHtml" style="font-size:1.1em; color:#1d57a0"></p></a>

						<!--  <a ui-sref=".children"><p ng-bind-html="result.t | rawHtml" style="font-size:1.1em; color:#1d57a0"></p></a> -->
					</div>
					<div ng-bind-html="result.synopsis | rawHtml" style="font-size:0.9em; color:#5e6778"> </div>
					<div ng-bind-html="result.crawldate | rawHtml" style="font-size:0.9em; color:#5e6778"> </div>
				</li>
			</ul>
			<!-- CASE DISPLAY ///////////////////////////////////////////////////-->

			<case-display class="caseDisplay show-hide" ng-show="showCase"></case-display>
			<!-- <div ui-view class="fader-animation"></div> -->

		</div>
	
		<div align="center" ng-controller="PaginationCtrl">
			<div ng-show="showPagination" class="show-hide"> 
				<uib-pagination total-items="totalReports" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="false" ng-change="pageChanged($event)">
				</uib-pagination>
			</div>
			<div class="col-sm-12 form-group" style="text-align: center">
					<div class="h-sep" style="margin:0 30px 10px 0" ></div>
				<span style="font-size:0.9em; color:#65768a"> Powered by Google Search Appliance -- v.{{apVersion}}</span>
			</div>
		</div>
	</div>   
</div>

