<div class="sub-title" ng-show="summaryList.length == 0">No Summary found in this report</div> 
<section class="children" ng-repeat="summary in summaryList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">Call Summary</div>
	<div class="row ">
		<div  ng-repeat="sectionData in summaryList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span>
			</div>
		</div>
	</div>
</section> 