<section class="vehicle" ng-repeat="vehicle in vehiclesList track by $index">
		<div class="pers-sep" ng-show="$index >0"></div>
		<div class="sub-title">Vehicle {{$index + 1}}</div>
		 <!-- NAMES ///////////////////////////////////////////////////////////////////////// -->
		<div class="row ">
			<div class="col-sm-4 form-group" ng-show="vehicle.vehiclemake">
				<label>Make: </label> <span>{{vehicle.vehiclemake}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.model">
				<label>Model: </label> <span>{{vehicle.model}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.vehiclestyle">
				<label>Style: </label> <span>{{vehicle.vehiclestyle}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.vehiclecolor">
				<label>Vehicle Color: </label> <span>{{vehicle.vehiclecolor}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.tagnumber">
				<label>Tag #: </label> <span>{{vehicle.tagnumber}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.tagyear">
				<label>Tag Year: </label> <span>{{vehicle.tagyear}}</span>
			</div>
			<div class="col-sm-4 form-group" ng-show="vehicle.vehicleid">
				<label>Vehicle ID: </label> <span>{{vehicle.vehicleid}}</span>
			</div>
			<div class="col-sm-12 form-group" ng-show="vehicle.description">
				<label>Vehicle Description: </label> <span>{{vehicle.description}}</span>
			</div>
		</div>
	</section>