<div class="sub-title" ng-show="vehiclesList.length == 0">No Vehicle found in this report</div> 
<section class="vehicles" ng-repeat="item in vehiclesList track by $index"> 
	<div class="pers-sep"  ng-show="$index >0"></div>
	<div class="sub-title">Vehicle {{$index + 1}}</div>
	<div class="row ">
		<div  ng-repeat="sectionData in vehiclesList[$index] track by $index">
			<div class="{{sectionData.fieldsize}} form-group">
				<label>{{sectionData.label}}: </label> <span ng-bind-html="sectionData.value | rawHtml"></span>
			</div>
		</div>
	</div>
</section> 